body{
	background-color: #68D5FF;
	background-repeat: repeat-x;
	background-image: url("nightSceneMaru.png");
	background-size: 75%;
	image-rendering: pixelated;

	min-width:500px;        
	width: auto !important;  
	width:500px;            

}

img{
	position: absolute;
	display: block;
	image-rendering: pixelated;
}



section{
	position: relative;
}

#blank{
	position : absolute;
	top : 5000px;
	font-size : 100px;
}

#balloon{
	z-index: 99;
	top:2400px;
	min-width: 100px;
	width:10%; 
	left: 30%;
}
#cloud{
	z-index: 100;
	
}
#logo{
	display: block;
	z-index: 98;
	width : 30%;
	left : 35%;
	top : 1500px;
	min-width: 400px;
	max-width: 800px;;
}

#apelogo{
	display: block;
	z-index: 98;
	width : 50%;
	left : 25%;
	top : 400px;
	min-width: 400px;
}

